@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: #f2f2f2;
    overflow: hidden;
}

* {
    color: #f55;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

.img {
    position: relative;
    bottom: -20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}


#down {
    position: relative;
    top: -6px;
}

#down, #up {
    cursor: pointer;
    transition: all 1s ease;
}

.monya {
    z-index: -1;
    width: 200px;
    opacity: 0; 
    transition: all 1s ease;

}

.shown {
    opacity: 1;
    width: 460px;
    transform: translateY(-300px);
}

.hidden-down {
    transform: translateY(200px);
}

.hidden-up {
    opacity: 0;
    transform: translateY(-300px);
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }

    .img {
        height: 200px;
    }

   .shown {
        width: 80vw;
        transform: translateY(-200px);
   }

   .hidden-down {
        transform: translateY(150px);
   }
}
  